attrs==21.4.0
biopython==1.79
certifi==2021.10.8
charset-normalizer==2.0.10
idna==3.3
importlib-metadata==4.10.1
iniconfig==1.1.1
mysqlclient==2.1.0
Naked==0.1.31
numpy==1.21.5
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
PyYAML==6.0
requests==2.27.1
status==0.2.5
toml==0.10.2
tornado==6.1
typing-extensions==4.0.1
urllib3==1.26.8
zipp==3.7.0
